<div id="container">

    <form id="addcustform" >
        <h2>Register</h2>
        <input type="text" name="name"  placeholder="Name">
        <input type="text" name="email"  placeholder="Email">
        <input type="text" name="contact"  placeholder="Email">
        <input type="text" name="password"  placeholder="Email">
        <div id="genderchoice">
            <div>
            <label for="gender">Male : </label>
            <input type="radio" name="gender"  value="male" checked>
        </div>
        <div>
            <label for="gender">Female : </label>
            <input type="radio" name="gender"  value="female">
        </div>
        </div>
        

        

        <button type="submit">Submit</button>
    </form>
</div>
