<div id="container">
    <div id="main_details"> 
    <div id="propImage">
        <img src="src/assets/images/real-logo.png" alt="">
    </div>
    <div id="details">
        <a>Name</a>
        <a>Name</a>
        <a>Name</a>
        <a>Name</a>
        <a>Name</a>
        <a>Name</a>
    </div>
</div>

<div id="contactinfo">
    <form >
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="number" placeholder="Contact" >
    <input type="text" name="email" placeholder="E-Mail">
    <button>Contact Me</button>
</form>
</div>
</div>
